SCRAM-SHA-1(-PLUS) + SCRAM-SHA-256(-PLUS) + SCRAM-SHA-512(-PLUS) supports

"When using the SASL SCRAM mechanism, the SCRAM-SHA-256-PLUS variant SHOULD be preferred over the SCRAM-SHA-256 variant, and SHA-256 variants [RFC7677] SHOULD be preferred over SHA-1 variants [RFC5802]".

Can you add support for?
- SCRAM-SHA-1(-PLUS):
-- https://tools.ietf.org/html/rfc5802
-- https://tools.ietf.org/html/rfc6120

- SCRAM-SHA-256(-PLUS):
-- https://tools.ietf.org/html/rfc7677 since 2015-11-02
-- https://tools.ietf.org/html/rfc8600 since 2019-06-21: https://mailarchive.ietf.org/arch/msg/ietf-announce/suJMmeMhuAOmGn_PJYgX5Vm8lNA

- SCRAM-SHA-512(-PLUS):
-- https://tools.ietf.org/html/draft-melnikov-scram-sha-512

- SCRAM-SHA3-512(-PLUS):
-- https://tools.ietf.org/html/draft-melnikov-scram-sha3-512

https://xmpp.org/extensions/inbox/hash-recommendations.html

-PLUS variants:
- RFC5056: On the Use of Channel Bindings to Secure Channels: https://tools.ietf.org/html/rfc5056
- RFC5929: Channel Bindings for TLS: https://tools.ietf.org/html/rfc5929
- Channel-Binding Types: https://www.iana.org/assignments/channel-binding-types/channel-binding-types.xhtml
- Channel Bindings for SCRAM over TLS 1.3: https://tools.ietf.org/html/draft-whited-tls-channel-bindings-for-tls13 -> https://tools.ietf.org/html/draft-ietf-kitten-tls-channel-bindings-for-tls13

LDAP:
- RFC5803: Lightweight Directory Access Protocol (LDAP) Schema for Storing Salted: Challenge Response Authentication Mechanism (SCRAM) Secrets: https://tools.ietf.org/html/rfc5803

HTTP:
- RFC7804: Salted Challenge Response HTTP Authentication Mechanism: https://tools.ietf.org/html/rfc7804

2FA:
- Extensions to Salted Challenge Response (SCRAM) for 2 factor authentication: https://tools.ietf.org/html/draft-melnikov-scram-2fa

IANA:
- Simple Authentication and Security Layer (SASL) Mechanisms: https://www.iana.org/assignments/sasl-mechanisms/sasl-mechanisms.xhtml

Linked to:
- https://github.com/scram-xmpp/info/issues/1

I've been trying to understand what this issue is about for something like the 5th time since it's been opened now ... Still don't understand if it's about LDAP, metronome, or something else. I don't understand what this would bring, if this is a security issue or not, if that's an improvement or a feature request ... If you reopen, please explain what this is really about ...

@alexAubin: Mail/XMPP/LDAP/... it replace the old unsecured MD5.

Yes, SHA1 and SHA256 is better than MD5 but then what ? But to my knowledge we had some critical pieces using MD5 but not anymore. So where is MD5 used in Yunohost and what should be fixed ? :roll_eyes: 

It is not SHA-1 and SHA-256 it is SCRAM-SHA-1(-PLUS) and SCRAM-SHA-256(-PLUS)

You're still not explaining what's the actual issue and what exactly needs to be improved. I don't know how you expect anybody to understand what you mean. The whole discussion is just a bunch of acronyms and links to RFC, with me trying to tell you to explain what you mean and what you're asking for. There's link to XMPP, yet you're talking about LDAP and mail and everything is just confusing. I'm off this discussion until you provide clear detailed context and detailed explanation of what's broken or what's to improved exactly in Yunohost.

@alexAubin: I have updated the ticket with new SCRAM.

The goal is to have secure passwords...

It works with LDAP/MAIL/XMPP/...