RFC6331: Moving DIGEST-MD5 to Historic

July 2011: RFC6331: Moving DIGEST-MD5 to Historic:
- https://tools.ietf.org/html/rfc6331

There are now:
- July 2010: RFC5802: Salted Challenge Response Authentication Mechanism (SCRAM): SASL and GSS-API Mechanisms: https://tools.ietf.org/html/rfc5802 (SCRAM-SHA-1 and SCRAM-SHA-1-PLUS)
- July 2010: RFC5803: Lightweight Directory Access Protocol (LDAP) Schema for Storing Salted: Challenge Response Authentication Mechanism (SCRAM) Secrets: https://tools.ietf.org/html/rfc5803
- November 2015: RFC7677: SCRAM-SHA-256 and SCRAM-SHA-256-PLUS: Simple Authentication and Security Layer (SASL) Mechanisms: https://tools.ietf.org/html/rfc7677


Well, what is this ... I don't even understand if that's related to nginx, mysql, xmpp, ldap or whatever else. Is this a bug ? An improvement ? Is this needed for some feature ? Or just general security ? Could you elaborate on the context of where / how that would integrate in yunohost compared to the existing stuff ?

Closing due to lack of feedback

@alexAubin: ?
It is for all.

For all what ... is this for nginx, is this for iptables, is it for mysql, for php, for slapd, for ssh, is it a way to store password, ... ?